:root {
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-normal: 400;

  --clr-card-brd: hsl(60, 26%, 90%);
  --clr-card-attacks: hsl(60, 26%, 82%, 0.3);

  --element-icon-brd: hsl(60, 26%, 82%);
  --element-icon-highlight: hsla(0, 0%, 100%, 0.7);
  --element-icon-shad: hsl(0, 0%, 0%, 0.9);

  --clr-font-d: hsl(0, 0%, 5%);
  --clr-font-l: hsl(0, 0%, 89%);
  --weight-main: var(--font-weight-bold);
  --weight-default: var(--font-weight-normal);
  /*====================================================*/
  /*            Color Themes elments                    */
  /*====================================================*/

  /*--Feuer--*/
  --element-icon: #d00000;
  --element-dark: hsl(354, 93%, 22%);
  --element-middle: hsl(358, 97%, 31%);
  --element-light: hsl(23, 97%, 46%);
  --element-lightest: hsl(34, 95%, 49%);
  --element-accent-clr: hsl(43, 100%, 52%);
}

.plant-theme {
  --element-icon: hsl(101, 100%, 35%);
  --element-dark: hsl(120, 100%, 20%);
  --element-middle: hsl(120, 100%, 25%);
  --element-light: hsl(120, 100%, 32%);
  --element-lightest: hsl(101, 100%, 45%);
  --element-accent-clr: hsl(113, 82%, 55%);
}

.water-theme {
  --element-icon: #d00000;
  --element-dark: #023e8a;
  --element-middle: #0077b6;
  --element-light: #0096c7;
  --element-lightest: #00b4d8;
  --element-accent-clr: #90e0ef;
}
.psycho-theme {
  --element-icon: hsl(272, 63%, 46%);
  --element-dark: hsl(271, 95%, 30%);
  --element-middle: hsl(271, 91%, 35%);
  --element-light: hsl(270, 63%, 48%);
  --element-lightest: hsl(272, 73%, 68%);
  --element-accent-clr: hsl(278, 100%, 83%);
}

.electro-theme {
  --element-icon: #d00000;
  --element-dark: hsl(30, 100%, 50%);
  --element-middle: hsl(33, 100%, 40%);
  --element-light: hsl(48, 100%, 45%);
  --element-lightest: hsl(54, 100%, 50%);
  --element-accent-clr: hsl(57, 100%, 70%);
}
